<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{> title}} - Crews</title>
  <link href="/static/vendor.css" rel="stylesheet">
  <link href="/static/crews.png" rel="icon">
  <style type="text/css">
    * {
      font-family: 'Rubik', sans-serif;
    }

    pre, code {
      font-family: 'JetBrains Mono', monospace;
    }

    body {
      background-color: #ede6e1;
      margin: 0;
    }

    nav {
      background-color: white;
      padding: 1rem;
      box-shadow: 0 .25rem .25rem rgb(0 0 0 / .1);
    }

    #user {
      text-align: right;
      font-weight: bold;
    }

    main {
      padding: 0 1rem;
    }

    form {
      display: flex;
      flex-direction: column;
      width: 100%;
      align-items: flex-start;
      gap: .5rem;
    }

    input[type='text'] {
      padding: .25rem;
    }

    textarea {
      padding: .25rem;
      width: 100%;
    }

    div.editor {
      width: 100%;
    }

    div[contenteditable] {
      background-color: white;
      padding: .25rem;
      width: 100%;
      outline: 1px solid black;
    }

    div[contenteditable] p {
      margin: 0;
    }

    div[contenteditable] p + p {
      margin-block-start: 1rem;
    }

    button[type='submit'] {
      padding: .25rem .5rem;
    }

    label {
      font-weight: bold;
      display: block;
    }

    .groups {
      display: grid;
      gap: 1rem;
      grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
    }

    .group {
      --corners: 1rem;
      display: grid;
      gap: 1rem;
      grid-template-rows: 10rem max-content 1fr max-content;
      background-color: white;
      border-radius: var(--corners);
      overflow: hidden;
    }

    .group img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: var(--corners) var(--corners) 0 0;
      transition: transform 350ms cubic-bezier(0.2, 0, 0, 1) 0s;

      &:hover {
        transform: scale(1.05);
      }
    }

    .group h2 {
      padding-inline: 1rem;
      margin: 0;
    }

    .group .description {
      padding-inline: 1rem;
      display: -webkit-box;
      -webkit-line-clamp: 5;
      -webkit-box-orient: vertical;
      overflow: hidden;

      & * {
        font-size: 1rem;
        padding-inline: 0;
      }

      & *:not(:first-child) {
        display: none;
      }
    }

    .posts {
      display: grid;
      gap: 1rem;
    }

    .post.htmx-swapping {
      opacity: 0;
      transition: opacity 350ms ease-in-out;
    }

    .post {
      --corners: .25rem;

      display: grid;
      gap: .5rem;
      border: 1px solid rgb(0 0 0 / .2);
      box-shadow: 0 .25rem .25rem rgb(0 0 0 / .1);
      background-color: white;
    }

    .post > * {
      padding: .5rem;
    }

    .post p:empty {
      display: none;
    }

    .post p.emoji {
      font-size: 2.25rem;
      margin-block: .25rem;
    }

    .actions {
      background-color: rgb(0 0 0 / .05);
      display: grid;
      grid-template-columns: 1fr max-content;
      padding: .75rem;
      border-radius: 0 0 var(--corners) var(--corners);
    }

    .actions .buttons {
      opacity: 0;
    }

    .actions:hover .buttons {
      opacity: 1;
      transition: opacity 100ms ease-in-out;
    }

    .breadcrumb a {
      text-decoration: none;
    }

    .breadcrumb a:hover {
      text-decoration: underline;
    }

    .page-actions {
      display: flex;
      justify-content: right;
      margin-bottom: 1rem;
    }

    dialog::backdrop {
      background-color: rgb(0 0 0 / .2);
      backdrop-filter: blur(.25rem) brightness(.9);
    }
  </style>
</head>
<body {{#with request.values.token}}hx-headers='{"X-CSRF-Token": "{{.}}"}'{{/with}}>
  <nav>
    <div id="user">{{request.values.user.first}}</div>
  </nav>

  <main>
    <h1 class="breadcrumb"><a href="/">Crews</a> ⛵ &raquo; <a href="{{request.uri.path}}">{{> title}}</a></h1>
    {{> content}}
  </main>
  <script src="/static/vendor.js"></script>
  {{#> scripts}}
    <!-- Defaults to empty -->
  {{/scripts}}
</body>
</html>
